body{
    background-color:rgb(1, 1, 36);
    margin-right: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    width: 100%;
    height: 90vh;
    background-color:#15a2b4;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    box-shadow: 2px 2px 12px (rgb(81, 83, 83));
    padding: 0px 5%;
}
nav ul{
    display: flex;
}
nav ul li a{
    margin: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000      ;
    font-size: 16.5px;
    font-weight: 700;
}
#logo{
    font-family:arial;
    font-size: 22px;
    color:black;
}
.active{
    font-weight: bold;
    color:#F7E080;
}
.text-Me p:nth-child(1){
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 25px;
color:#F7E080 ;
}
.text-Me p:nth-child(2){
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 60.15px;
    color:#000000 ;
    letter-spacing: 2.5px;
    }
    .text-Me p:nth-child(3){
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
        font-size: 30.15px;
        color:#F7E080 ;
        letter-spacing: 1.25px;
        }
        .text-Me{
            line-height: 0px;
            margin: 40px 0px 20px;
        }
        .text-Me{
            position: absolute;
            left: 15%;
            top: 40%;
            transform: translate(-15%,-40%);
        }
        button{
            width: 130px;
            height: 42px;
            border-radius: 10px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: bold;
            font-size: 14;
            outline: none;
            margin: 0px 10px;
        }
        .Btt1{
            border: 1.75px solid rgb(1, 1, 36);
            color: rgb(1, 1, 36); 
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;                   
        }
        .btt2{
            background-color:  rgb(165, 10, 10);
           border: none; 
           color:#000000;
           font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
                          
        }
        button:active{
            transform: scale(0.65);
        }
            .minhaft{

                height: 480px;
                position:absolute;
                bottom: 50px;
                left: 90%;
                transform: translateX(-90%);

            }
            .gif{
                height: 40px;
                bottom: 20px;
                left:15%;
                transform: scale(60%);
                position:absolute;

            }
            
           .txt-eu{
        
            position: absolute;
            left: 60%;
            nav-down: 100%;
            transform: translate(-10%,);
            
           }
           .txt-eu p:nth-child(1){font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 40px;
            color:#F7E080 ;
            letter-spacing: 1.25px;

           }
           .txt-eu p:nth-child(2){font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 20px;
            color:#F7E080 ;

           }
           .txt-eu p:nth-child(3){font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 20px;
            color:#F7E080 ;

           }
           .txt-eu p:nth-child(4){font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 20px;
            color:#F7E080 ;
            

           }

        
        




